<app-header-main></app-header-main>
<app-carousel></app-carousel>

<div class="row titulos-produtos">
  <div class="col-12">
    <h2>Destaques da Semana</h2>
  </div>
</div>

<div class="carrossel-destaques" style="display: block;">
  <ul class="autoWidth cS-hidden">
    <li *ngFor="let produtos of responseProdutos" class="col-md-2 col-12">
      <div class="box-produtos">
        <img [src]="produtos.imagens[0].dsUrl" class="card-imagem-produto">
        <div class="detalhe-produto">
          <p>{{produtos.nomeFantasia}}</p>
          <p>{{produtos.valorUnidade | currency: 'BRL': true}}</p>
          <div>
            <button (click)="clicked(produtos.cdProduto)" type="button" title="comprar"
              class="btn btn-primary btn-lg btn-block">Comprar</button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>


<app-footer-main></app-footer-main>
